.container{
    width: 42px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 2px;
    border: 1.5px solid #53c28b70;
    cursor: pointer;
    position: relative;
}

.icon{
    font-size: 12px;
}

.ball{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color:  #53c28b;
    position: absolute;
}